In [4]:
! pip install --quiet fuzzywuzzy[speedup]

In [95]:
import pandas as pd
import numpy as np
import json

In [3]:
with open('./data/sample.jl', 'r') as f:
    jobs = pd.DataFrame([json.loads(d) for d in f])

In [4]:
direct_match = (pd
                .read_excel('./data/SOC/soc_2010_direct_match_title_file.xls', skiprows=6)
                .rename(columns = {'2010 SOC Direct Match Title': 'title', 
                                     '2010 SOC Code': 'code'})[['title', 'code']])

samples = (pd
           .read_excel('./data/SOC/Sample of Reported Titles.xlsx')
           .rename(columns = {'Reported Job Title': 'title', 
                              'O*NET-SOC Code': 'code'})[['title', 'code']])

alternates = (pd
              .read_excel('./data/SOC/Alternate Titles.xlsx')
              .rename(columns = {'Alternate Title': 'title', 
                                 'O*NET-SOC Code': 'code'})[['title', 'code']])

alternates['code'] = alternates.code.str.slice(0,7)
samples['code'] = samples.code.str.slice(0,7)

In [126]:
lookup = pd.concat([direct_match, samples, alternates]).drop_duplicates(['code', 'title'])
lookup['title'] = lookup.title.str.lower()

# filter all titles that have more than one match with different codes!
idx = lookup.groupby('title').transform('count').code
lookup = lookup[idx == 1]

In [127]:
lookup.to_csv('crosswalks/soc-title-lookup.csv', index=False)

In [128]:
jobs['title'] = jobs.title.str.lower()
j = jobs.merge(lookup, how='left', on = ['title'])

In [129]:
# Percent found in exact string match
j[~j.code.isna()].shape[0] / j.shape[0]

0.107

In [ ]:
j[~j.code.isna()]

### Explore matching with partial matches

In [50]:
def lookup_two(lookup):
    def f(t):
        z = zip(lookup.code, lookup.title)
        split = t.split(' ')
        options = [(code, title) for code,title in z if title in t]
        if len(options) > 0:
            options = sorted(options, key = lambda t: -len(t[1]))
        return options[0] if options else (None,None)
    return f

In [81]:
from fuzzywuzzy import fuzz, utils, process

def lookup_code(lookup):
    def f(t):
        try:
            prop, score = process.extractOne(t, lookup.title, score_cutoff = 0)
            return prop
        except ValueError:
            return None
    return f

In [131]:
leftovers = j[j.code.isnull()].reset_index(drop=True)
codes, titles = zip(*leftovers.title.map(lookup_two(lookup)))
leftovers = leftovers.assign(code=codes, assigned_title = titles)

In [133]:
leftovers[['title', 'assigned_title', 'code']]

,title,assigned_title,code
0,health info clerk-medical records,None,None
1,real estate processor,None,None
2,unit coordinator / cna-i,unit coordinator,39-9041
3,aircraft maintenance training instructor,None,None
4,maintenance shift manager,None,None
5,maintenance training instructor,None,None
6,director of quality-maintenance,director of quality,11-3051
7,"general manager, vip seating",None,None
8,line service technician,None,None
9,"general manager, vip seating",None,None
10,general manager - vip seating,None,None
11,"scientific technician 2, non-permanent *04012-18",None,None
12,"scientific technician 2, non-permanent *04011-18",None,None
13,"scientific technician 2 , non-permanent *04019-18",None,None
14,scientific technician 2 - career seasonal *039...,None,None
15,"scientific technician 2, permanent *03455-18",None,None
16,10383-12 non-permanent scientific technician 2...,None,None
17,"scientific technician 2, non-permanent *03410-18",None,None
18,scientific technician 2 *02025w,None,None
19,fish biologist 1 - non-permanent *01998-18,None,None
20,health info clerk-medical records,None,None
21,real estate processor,None,None
22,unit coordinator / cna-i,unit coordinator,39-9041
23,technical specialist i,None,None
24,it technical specialist,None,None
25,ace epic usfs: lead fisheries technician inter...,fisheries technician,11-9013
26,bhhn clinic informaticist,informaticist,15-1121
27,ace epic usfs wy: hydrology technician,hydrology technician,19-4041
28,ace epic usfs wy: fisheries internship,rn,29-1141
29,"product manager, software",None,None
...,...,...,...
1756,front office team member - business assistant,assistant,39-3091
1757,dental front office business assistant - mcale...,assistant,39-3091
1758,executive adminstrative assistant - t8249,assistant,39-3091
1759,administrative assistant,assistant,39-3091
1760,"commercial bank, mmbsi oregon- senior administ...",senior administrative assistant,43-6014
1761,administrative assistant - (job number: 13859),assistant,39-3091
1762,medical office administrative assistant,assistant,39-3091
1763,administrative assistant 1 - providence elderp...,assistant,39-3091
1764,administrative assistant-marketing,assistant,39-3091
1765,administrative assistant (leasing coordinator),assistant,39-3091
1766,administrative assistant 1 - providence elderp...,assistant,39-3091
1767,"assistant, administrative",assistant,39-3091
1768,"administrative assistant,",assistant,39-3091
1769,executive assistant to the cfo and deputy dire...,deputy director,19-3094
1770,chief financial officer/assistant city manager,financial officer,11-3031
1771,"underwriting associate, financial lines",None,None
1772,student services manager,None,None
1773,enrollment services associate,None,None
1774,management analyst ii - health and human servi...,None,None
1775,executive assistant,assistant,39-3091
1776,assistant general counsel - corporate attorney,corporate attorney,23-1011
1777,assistant property manager in portland area,assistant property manager,11-9141
1778,administrative assistant - full time (ft) - days,assistant,39-3091
1779,administrative assistant iii - psychology,assistant,39-3091
1780,administrative assistant ii - oklahoma a+ schools,assistant,39-3091
1781,administrative assistant,assistant,39-3091
1782,administrative assistant,assistant,39-3091
1783,executive adminstrative assistant - t8249,assistant,39-3091
1784,customer service agent assistant,assistant,39-3091
1785,customer service agent assistant,assistant,39-3091

In [ ]:
t = utils.full_process(j[j.code.isnull()].title.values[5])
lookup_two(lookup)(t)